@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color: #000348;
  --sea-color: #27aae2;
  --green-color: #23c62a;
  --red-color: #f70000;
  --gray-color: rgba(129, 129, 129, 0.5);
  --metal-color: #ece9e9;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0px 25px;
}
@media (max-width: 550px) {
  .container {
    padding: 0px 15px;
  }
}
/* body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#cameraContainer {
  border: 2px solid white;
  max-width: 320px;
  width: 100%;
  /* height: 80px; */
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 20px;
}
#captureButton {
  padding: 10px 13px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s all ease;
}

#captureButton:hover {
  background-color: white;
  color: cornflowerblue;
}
#cameraFeed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
}
#imageContainer img {
  border: 2px solid white;
  border-radius: 10px;
}
