* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cameraContainer {
  border: 2px solid white;
  max-width: 320px;
  width: 100%;
  /* height: 80px; */
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 20px;
}
#captureButton {
  padding: 10px 13px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.5s all ease;
}

#captureButton:hover {
  background-color: white;
  color: cornflowerblue;
}
#cameraFeed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
}
#imageContainer img {
  border: 2px solid white;
  border-radius: 10px;
}
