.list_header {
  border-bottom: 1px solid var(--gray-color);
}
.list_header_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px;
}
.list_header h3 {
  color: var(--blue-color);
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.932px; /* 74.715% */
  letter-spacing: -0.12px;
}
/* __________________________List_______________ */
.list_body {
  padding: 23px 0px;
}
.list_body_div {
  border: 1px solid var(--gray-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 17px 14px;
  border-radius: 6px;
  margin-bottom: 12px;
}
.list_body_img {
  width: 89px;
  height: 89px;
  border-radius: 6px;
  background: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_body_text {
  flex: 1;
}
.list_body_text h1 {
  color: var(--blue-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.15px;
  margin-bottom: 6px;
}
.list_body_text div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.list_body_text div p {
  color: var(--blue-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.7px;
  letter-spacing: -0.09px;
}
.list_body_text div button {
  padding: 2px 6px;
  border-radius: 3px;
  color: var(--white-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.7px; /* 126.111% */
  letter-spacing: -0.09px;
}
.sea_color {
  border: 1px solid var(--sea-color);
  background: var(--sea-color);
}
.green_color {
  border: 1px solid var(--green-color);
  background: var(--green-color);
}
.red_color {
  border: 1px solid var(--red-color);
  background: var(--red-color);
}
.black_color {
  border: 1px solid var(--black-color);
  background: var(--black-color);
}
@media (max-width: 768px) {
  .rwd_list_body_textdiv {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .list_body_text h1 {
    font-size: 25px;
  }
}
@media (max-width: 550px) {
  .list_header h3 {
    font-size: 17px;
  }
  .list_body_div {
    padding: 15px 10px;
    gap: 10px;
  }
  .list_body_img {
    width: 72px;
    height: 72px;
  }
  .list_body_text h1 {
    font-size: 19px;
    margin-bottom: 0px;
  }
  .list_body_text div p,
  .list_body_text div button {
    font-size: 12px;
  }
  .list_body_text div {
    gap: 5px;
  }
}
